PORT=3001
URI_MONGODB=mongodb://127.0.0.1:27017/smartgrowdb

CLOUDINARY_CLOUD_NAME=[Cloudinary Cloud Name ej: dzvyh0ywj]
CLOUDINARY_API_KEY=[CLOUDINARY_API_KEY ej: 513314291388966]
CLOUDINARY_API_SECRET=[CLOUDINARY_API_SECRET ej: _3PGe-SRnx5_er-cbLUcw1sqkN4]
CLOUDINARY_FOLDER=SmartGrowGT/crops
DEFAULT_PAGE=1
DEFAULT_LIMIT=10